<br/>
<%= render partial: 'link_edit_order' %>
<h3>
<%= @order.customer.simple_name %>
<%= @order.store.name %>
<%= @order.order_type.name %>
<%= @order.reach_order_date %>
</h3>

<%= form_tag supply_order_path, method: :patch, name: 'accfrm' do %>
<%= hidden_field_tag 'order_id', @order.id %>
<table class="table table-striped table-condensed table-hover">
  <thead>
    <th width="150">品名</th><th width="80">订货量</th><th width="100">到货量</th><th width="80">价格</th><th>金额小计</th>
  </thead>
  <tbody>
    <% @order_items.each do |order_item| %>
        <tr>
          <td>
            <%= order_item.product_chinese_name %>
          </td>
          <td>
            <%= order_item.plan_weight %>
          </td>
          <td>
            <%= text_field_tag "order_item[#{order_item.id}]", order_item.real_weight == 0 ? '' : order_item.real_weight, class: 'special_text_field text-right', size: 10 %>
          </td>
          <td>
            <%= order_item.real_price %>
          </td>
          <td>
            <%= order_item.money %>
          </td>
        </tr>
    <% end %>
    <tr>
      <td><h4>总计</h4></td><td></td><td></td><td></td><td><%= @order.sum_money %></td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-sm-1 col-sm-offset-3">
    <%= submit_tag '提交', class: 'btn-primary btn btn-lg' %>
  </div>
</div>
<% end %>
<br/>
<%= render partial: 'link_edit_order' %>
