	<h1>公司</h1>
	<ul class="companies">
		<table>
		<% @companies.each do |company| %>
			<li><%= label_tag :company_id,company.id  %>
			<%= link_to company.full_name, company %>
			| <%= link_to "delete", sp_company_path(id: company.id), method: :delete,
data: { confirm: "You sure?" } %></li>
		<% end %>
		</table>
	</ul>
	<%= will_paginate @companies, :class => 'flickr_pagination' ,:previous_label => '<<上一页', :next_label => '下一页>>'%>
	<div>
		<%= link_to "注册公司",  new_sp_company_path %>
	</div>