<table class="table">
    <% @orders.each do |order| %>
      <tr>
        <td>
        <%= order.id %>
        </td>
        <td>
          <%= order.customer.simple_name %>
        </td>
        <td>
          <%= order.store.name %>
        </td>
        <td>
          <%= order.order_type.name %>
        </td>
        <td>
          <%= order.reach_order_date %>
        </td>
        <td>
          <%= link_to '查看明细',edit_purchase_order_path(order.id),remote: true%>
        </td>
      </tr>
    <% end %>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div id="modal-body"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
